{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{% block title%}MHC Dashboard{% endblock %} </title>
  <link rel="stylesheet" href="{% static 'vendors/iconfonts/mdi/css/materialdesignicons.min.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/css/vendor.bundle.base.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/css/vendor.bundle.addons.css' %}">
  <link rel="stylesheet" href='{% static "css/style.css" %}'>
  <link rel="shortcut icon" href='{% static "images/favicon.png" %}' />
</head>

<body>
  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center">
        <a class="navbar-brand brand-logo" href="/entry-companies/">
          <img src="{% static 'images/logo.svg' %}" alt="logo" />
        </a>
        <a class="navbar-brand brand-logo-mini" href="/entry-companies/">
          <img src="{% static 'images/logo-mini.svg' %}" alt="logo" />
        </a>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-center">
        <ul class="navbar-nav navbar-nav-right">
          <li class="nav-item dropdown d-none d-xl-inline-block">
            <a class="nav-link dropdown-toggle" id="UserDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
              <span class="profile-text">Hello, {{ user.full_name }} !</span>
              <img class="img-xs rounded-circle" src="{% static 'images/faces/face1.jpg' %}" alt="Profile image">
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">
              <a class="dropdown-item mt-2" href="/account-user/">
                Update Profile
              </a>
              <a class="dropdown-item" href="/change-password/">
                Change Password
              </a>
            </div>
          </li>
        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
          <span class="mdi mdi-menu"></span>
        </button>
      </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item nav-profile">
            <div class="nav-link">
              <div class="user-wrapper">
                <div class="profile-image">
                  <img src="{% static 'images/faces/face1.jpg' %}" alt="profile image">
                </div>
                <div class="text-wrapper">
                  <p class="profile-name">{{ user.full_name }}</p>
                  <div>
                    <small class="designation text-muted">{{ user.status}}</small>
                    <span class="status-indicator online"></span>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login/">
              <i class="menu-icon mdi mdi-television"></i>
              <span class="menu-title">Summary</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/company-lists/">
              <i class="menu-icon mdi mdi-content-copy"></i>
              <span class="menu-title">Company Lists</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/employee-lists/">
              <i class="menu-icon mdi mdi-backup-restore"></i>
              <span class="menu-title">User Lists</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
              <i class="menu-icon mdi mdi-table"></i>
              <span class="menu-title">Data Entry</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-basic">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item">
                  <a class="nav-link" href="/entry-companies/">Entry Companies</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/entry-employees/">Entry Users</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout/" >
              <i class="menu-icon mdi mdi-restart"></i>
              <span class="menu-title">Log Out</span>
            </a>
          </li>
        </ul>
      </nav>
      <!-- partial -->
      <div class="main-panel">

      <!-- dashboard content -->
      <div class="content-wrapper">
      {% block content %}
      {% endblock %}
      </div>
      <!-- end of dashboard content -->

        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->

        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->

  <!-- plugins:js -->
  <script src="{% static 'vendors/js/vendor.bundle.base.js' %}"></script>
  <script src="{% static 'vendors/js/vendor.bundle.addons.js' %}"></script>
  <!-- endinject -->
  <!-- Plugin js for this page-->
  <!-- End plugin js for this page-->
  <!-- inject:js -->
  <script src="{% static 'js/off-canvas.js' %}"></script>
  <script src="{% static 'js/misc.js' %}"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="{% static 'js/dashboard.js' %}"></script>
  <!-- End custom js for this page-->
  {% block scripts%}{% endblock %}
</body>

</html>