{% extends "user_dashboard/base_cms.html" %}

{% block content %}
<div class="row">
    <div class="col-md-6 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title text-center" style="font-size:20px">Change Password Account</h4>
            <form id="registerCompaniesForm" method="POST" action="{% url 'change-password' %}">
                {% csrf_token %}
            <div class="form-group">
              <label for="exampleInputName1">{{form.old_pass.label}}</label>
                {{form.old_pass}}
            </div>
            <div class="form-group">
              <label for="exampleInputName2">{{form.new_pass.label}}</label>
                {{form.new_pass}}
            </div>
            <div class="form-group">
              <label for="exampleInputEmail3">{{form.confirm_pass.label}}</label>
              {{form.confirm_pass}}
            </div>
            <button type="submit" class="btn btn-success mr-2">Submit</button>
          </form>
        </div>
          {% if form.non_field_errors %}
          <div class="col-md-12 col-xs-12 col-12">
              <div class="non-field-errors text-center">
                  {% for err in form.non_field_errors %}
                  <p class="form-error" style="color:red;">{{ err }}</p>
                  {% endfor %}
              </div>
          </div>
          {% endif %}
      </div>
    </div>

</div>
{% endblock %}