{% extends "user_dashboard/base_cms.html" %}
{% block content %}
    <div class="col-lg-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
        <div class="template-demo"><button type="button" class="btn btn-warning btn-fw" data-toggle='modal' data-target='#myModal'><i class="mdi mdi-file-document"></i>Create Task</button><button type="button" class="btn btn-success btn-fw" data-toggle='modal' data-target='#myMsg'><i class="mdi mdi-file-document"></i>Task Lists</button></div>
        <div class="card-description"></div>
        <div class="input-group" >
          <div >
              <select name="role" class="form-control" id="id_tipe_filter" onkeypress="searching()" onclick="searching()" >
                <option value="company_name">Nama Perusahaan</option>
                <option value="jenis_usaha">Jenis Usaha</option>
                <option value="province">Provinsi</option>
                <option value="city">Kota</option>
                <option value="pulau">Pulau</option>
              </select>
          </div>
            <input type="text" class="form-control" placeholder="Search" aria-label="Username" aria-describedby="basic-addon1" onchange="searching();" onkeyup="this.onchange();" onpaste="this.onchange();" oninput="this.onchange();" id="id_keywords" value="">
          <div >
              <select name="role" class="form-control" id="id_pagin" onchange="searching();" onkeyup="this.onchange();" >
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="50">50</option>
                <option value="100">100</option>
              </select>
          </div>
          </div>
          <div class="table-responsive">
            <table class="table table-striped" id="table_comp">
              <thead>
                <tr style="text-align:center;">
                  <th>
                    Perusahaan
                  </th>
                  <th>
                    Dashboard ID
                  </th>
                  <th>
                    Alamat
                  </th>
                  <th>
                    Jenis Usaha
                  </th>
                  <th>
                    Pulau
                  </th>
                  <th>
                    Provinsi
                  </th>
                  <th>
                    Kota
                  </th>
                  <th>
                    Email
                  </th>
                  <th>
                    PIC
                  </th>
                  <th>
                    Rating
                  </th>
                  <th>
                    Pulau
                  </th>
                  <th>
                    Penerapan Sistem
                  </th>
                  <th>
                    Status
                  </th>
                  <th>
                    Created at
                  </th>
                  <th>
                    Updated at
                  </th>
                  <th>
                    UPDATE
                  </th>
                  <th>
                    REMOVE
                  </th>
                </tr>
              </thead>
            </table>
          </div>



        <div class="modal fade" id="myMsg" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"></div>
        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New message</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form id="commentsForm" method="POST" action="{% url 'company-lists' %}">
                {% csrf_token %}
                  <div class="form-group">
                    <label for="recipient-name" class="col-form-label">{{ filter.recipient.label }}</label>
                    {{ filter.recipient }}
                  </div>
                  <div class="form-group">
                    <label for="recipient-name" class="col-form-label">{{ filter.type_msg.label }}</label>
                      {{ filter.type_msg }}
                  </div>
                  <div class="form-group">
                    <label for="message-text" class="col-form-label">{{ filter.message.label }}</label>
                    {{ filter.message }}
                  </div>
                  <div class="form-group">
                    <label for="message-text" class="col-form-label">CC Company :</label>
                    <select name="cc_comp" class="form-control" id="id_tipe_filter" >
                      {% for data in listing %}
                      <option value="{{ data.company_name }}">{{ data.company_name }}</option>
                      {% endfor %}
                    </select>
                  </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Create message</button>
              </div>
              </form>
            </div>
          </div>
        </div>

        </div>
      </div>
    </div>
      <ul class="uk-pagination" id="ukauka"></ul>

{% endblock %}

{% block scripts %}
<script src="https://code.jquery.com/jquery-3.1.0.js"></script> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.27.2/js/uikit.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.27.2/js/components/pagination.js"></script>
<script type="text/javascript">
// $.ajax({
//   url: '/path/to/file',
//   type: 'default GET (Other values: POST)',
//   dataType: 'default: Intelligent Guess (Other values: xml, json, script, or html)',
//   data: {param1: 'value1'},
// })
// .done(function() {
//   console.log("success");
// })
// .fail(function() {
//   console.log("error");
// })
// .always(function() {
//   console.log("complete");
// });


// init bootpag

function msg_lists(){
  $.getJSON('result-message/', function (json) { 
    lists_msg = "";
      $.each (json.msg_lists, function (i) {

          lists_msg +=  "<div class='modal-dialog' value='"+json.msg_lists[i].dashboard_id+"'><!-- Modal content--><div class='modal-content' value='"+json.msg_lists[i].dashboard_id+"'><div class='modal-header'><button type='button' class='close' data-dismiss='modal'>&times;</button></div><div class='modal-body'><p>CC : "+ json.msg_lists[i].cc_comp + "</p><p>Tipe : "+ json.msg_lists[i].type_msg + "</p><p>Dari : "+ json.msg_lists[i].recipient + "</p><p>Pesan : "+ json.msg_lists[i].message + "</p></div><div class='modal-footer'><a href='/detail-company/"+json.msg_lists[i].dashboard_id+"'><button type='submit' value='"+json.msg_lists[i].dashboard_id+"' class='btn btn-primary btn-fw'>Update</button></a></div></div></div></div>";
          });
      $('#myMsg').append(lists_msg);    
  }
  ); 
}

function mypagination(){
    // $.getJSON('result-page/', function (json) {
    //     $.each (json.page_lists, function (i) {
    //       console.log(json.page_lists[i].total_data);
        $.getJSON('result-page/', function (json) {
            for (let i = 0; i < 1; i++) {
                console.log(json.page_lists[i].total_data);

          var jumlah =14;
          var sortnya = 5;
          // var sortlah = $('#id_pagin').val();
          // console.log(sortlah);
          var element = document.querySelector('.uk-pagination');
          var pagination = UIkit.pagination(element, {
                            items:json.page_lists[i].total_data,
                            itemsOnPage:json.page_lists[i].sortir
               });
          console.log(pagination);
          $('#ukauka').on('select.uk.pagination', function(e, pageIndex){
              // console.log('You have selected page: ' + (pageIndex+1));
            num = pageIndex+1;
            searching(num)
          });
    //   });
    // });
              }
        });
}

function  searching(num){
    var sortpage = $('#id_pagin').val();
    var tipe_filter = $('#id_tipe_filter').val();
    var list;
    var pagenya;
    // console.log("sortir: " + sortpage);

    if (num == null || num == "" || num == "undefined" ){
      var page = 1;
    } else {
      var page =  num;
    }
    console.log("halaman dipilih : " + page);

    if ($('#id_keywords').val() == null || $('#id_keywords').val() == ""){
      var keywords = "all";
    } else {
      var keywords = $('#id_keywords').val();  
    }
    // console.log("cari kata " + keywords);

    $.getJSON('result-company/'+ sortpage + '/' + page + '/' + tipe_filter + '/' + keywords, function (json) {
      var tr;
      list = "";

      // $.each (json.comp_lists, function (i) {
      //     list +=  "<p style='font-weight:bold;'>" + json.comp_lists[i].company_name + "</p>";
      //     });
      // $('#coba').html(list);

      $('#table_comp').empty();
      $('#table_comp').append("<tr style='text-align:center;'><th>Perusahaan</th><th>Dashboard ID</th><th>Alamat</th><th>Jenis Usaha</th><th>Pulau</th><th>Provinsi</th><th>Kota</th><th>Email</th><th>PIC</th><th>Rating</th><th>No.Telp</th><th>Penerapan Sistem</th><th>Status</th><th>Created at</th><th>Updated at</th><th>UPDATE</th><th>REMOVE</th></tr>");
      for (var i = 0; i < json.comp_lists.length; i++) {
          tr = $('<tr/>');
          tr.append("<td style='font-weight:bold;'>" + json.comp_lists[i].company_name + "</td>");
          tr.append("<td style='color:blue;'>" + json.comp_lists[i].dashboard_id + "</td>");
          tr.append("<td>" + json.comp_lists[i].address + "</td>");
          tr.append("<td>" + json.comp_lists[i].jenis_usaha + "</td>");
          tr.append("<td>" + json.comp_lists[i].pulau + "</td>");
          tr.append("<td>" + json.comp_lists[i].province + "</td>");
          tr.append("<td>" + json.comp_lists[i].city + "</td>");
          tr.append("<td>" + json.comp_lists[i].email + "</td>");
          tr.append("<td>" + json.comp_lists[i].pic + "</td>");
          tr.append("<td>" + json.comp_lists[i].rating + " / 5" + "</td>");
          tr.append("<td>" + json.comp_lists[i].mobile_number + "</td>");
          tr.append("<td>" + json.comp_lists[i].tipe_sistem + "</td>");
          tr.append("<td style='color:green;'>" + json.comp_lists[i].status + "</td>");
          tr.append("<td style='color:red;'>" + json.comp_lists[i].created_at + "</td>");
          tr.append("<td style='color:red;'>" + json.comp_lists[i].updated_at + "</td>");
          tr.append("<td ><a href='/detail-company/"+json.comp_lists[i].dashboard_id+"'><button type='submit' value='"+json.comp_lists[i].dashboard_id+"' class='btn btn-primary btn-fw'>Update</button></a></td>");
          tr.append("<td ><a href='/remove-company/"+json.comp_lists[i].dashboard_id+"'><button type='submit' value='"+json.comp_lists[i].dashboard_id+"' class='btn btn-danger btn-fw'>Remove</button></a></td>");
          $('#table_comp').append(tr);
          // tr.append("<td ><button type='button' value='"+json.comp_lists[i].dashboard_id+"' data-toggle='modal' data-target='#myModal' class='btn btn-primary btn-fw' >Update</button></td>");
          pagenya = json.comp_lists[i].total_data;

      }
      // mypagination(sortpage)
      // console.log("sortir: " + sortpage);
      // $('#cobain').append(pagenya);
      // $.each (json.comp_lists, function (i) {

      //     list +=  "<div class='modal-dialog' value='"+json.comp_lists[i].dashboard_id+"'><!-- Modal content--><div class='modal-content' value='"+json.comp_lists[i].dashboard_id+"'><div class='modal-header'><button type='button' class='close' data-dismiss='modal'>&times;</button></div><div class='modal-body'><p>CC : "+ json.comp_lists[i].company_name + "</p><p>Tipe : "+ json.comp_lists[i].type_msg + "</p><p>Dari : "+ json.comp_lists[i].recipient + "</p><p>Pesan : "+ json.comp_lists[i].message + "</p></div><div class='modal-footer'><a href='/detail-company/"+json.comp_lists[i].dashboard_id+"'><button type='submit' value='"+json.comp_lists[i].dashboard_id+"' class='btn btn-primary btn-fw'>Update</button></a></div></div></div></div>";
      //     });
      // $('#myMsg').append(list);

    }
    );
}

$(document).ready(function(){
  searching()
  mypagination()
  msg_lists()
});
</script>

{% endblock %}