{% extends "user_dashboard/base_cms.html" %}

{% block content %}
    <div class="col-lg-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
        <div class="input-group" >
          <div >
              <select name="role" class="form-control" id="id_tipe_filter" onchange="searching()" onkeypress="this.onchange()" onclick="this.onchange()"  >
                <option value="nama">Nama Karyawan</option>
                <option value="status">Role / Level Struktur</option>
                <option value="posisi">Posisi Pekerjaan</option>
              </select>
          </div>
            <input type="text" class="form-control" placeholder="Search" aria-label="Username" aria-describedby="basic-addon1" onchange="searching();" onkeyup="this.onchange();" onpaste="this.onchange();" oninput="this.onchange();" id="id_keywords" value="">
          <div >
              <select name="role" class="form-control" id="id_pagin" onchange="searching();" onkeyup="this.onchange();" >
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="50">50</option>
                <option value="100">100</option>
              </select>
          </div>
          </div>
          <div class="table-responsive">
            <table class="table table-striped" id="table_emp">
              <thead>
                <tr style="text-align:center;">
                  <th>
                    Perusahaan
                  </th>
                  <th>
                    Dashboard ID
                  </th>
                  <th>
                    Alamat
                  </th>
                  <th>
                    Jenis Usaha
                  </th>
                  <th>
                    Pulau
                  </th>
                  <th>
                    Provinsi
                  </th>
                  <th>
                    Kota
                  </th>
                  <th>
                    Email
                  </th>
                  <th>
                    PIC
                  </th>
                  <th>
                    Rating
                  </th>
                  <th>
                    Pulau
                  </th>
                  <th>
                    Penerapan Sistem
                  </th>
                  <th>
                    Status
                  </th>
                  <th>
                    Created at
                  </th>
                  <th>
                    Updated at
                  </th>
                  <th>
                    UPDATE
                  </th>
                  <th>
                    REMOVE
                  </th>
                </tr>
              </thead>
            </table>
                <h3 id="coba"></h3>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
{% block scripts %}
<script type="text/javascript">
// $.ajax({
//   url: '/path/to/file',
//   type: 'default GET (Other values: POST)',
//   dataType: 'default: Intelligent Guess (Other values: xml, json, script, or html)',
//   data: {param1: 'value1'},
// })
// .done(function() {
//   console.log("success");
// })
// .fail(function() {
//   console.log("error");
// })
// .always(function() {
//   console.log("complete");
// });

function  searching(){
    var tipe_filter = $('#id_tipe_filter').val();
    
    if ($('#id_keywords').val() == null || $('#id_keywords').val() == ""){
      var keywords = "all";
    } else {
      var keywords = $('#id_keywords').val();  
    }
    console.log("cari kata " + keywords);

    $.getJSON('result-employee/'+ tipe_filter + '/' + keywords, function (json) {
      var tr;
      list = "";

      // $.each (json.comp_lists, function (i) {

      //     list +=  "<p style='font-weight:bold;'>" + json.comp_lists[i].company_name + "</p>";
      //     });
      // $('#coba').html(list);

      $('#table_emp').empty();
      $('#table_emp').append("<tr style='text-align:center;'><th>Nama Karyawan</th><th>Posisi</th><th>Email</th><th>Role</th><th>Status</th><th>Created at</th><th>Updated at</th><th>UPDATE</th><th>REMOVE</th></tr>");
      for (var i = 0; i < json.emp_lists.length; i++) {
          tr = $('<tr/>');
          tr.append("<td style='font-weight:bold;'>" + json.emp_lists[i].full_name + "</td>");
          tr.append("<td style='color:blue;'>" + json.emp_lists[i].status + "</td>");
          tr.append("<td>" + json.emp_lists[i].email + "</td>");
          tr.append("<td>" + json.emp_lists[i].role + "</td>");
          tr.append("<td style='color:green;'>" + json.emp_lists[i].akun + "</td>");
          tr.append("<td style='color:red;'>" + json.emp_lists[i].created_at + "</td>");
          tr.append("<td style='color:red;'>" + json.emp_lists[i].updated_at + "</td>");
          // tr.append("<td ><button type='button' value='"+json.emp_lists[i].email+"' class='btn btn-primary btn-fw'>Update</button></td>");
          tr.append("<td ><a href='/detail-user/"+json.emp_lists[i].email+"'><button type='submit' value='"+json.emp_lists[i].email+"' class='btn btn-primary btn-fw'>Update</button></a></td>");
          tr.append("<td ><a href='/remove-employee/"+json.emp_lists[i].email+"'><button type='submit' value='"+json.emp_lists[i].email+"' class='btn btn-danger btn-fw'>Remove</button></a></td>");
          $('#table_emp').append(tr);
      }

    }
    );
}

$(document).ready(function(){
  searching()
});
</script>
{% endblock %}