{% extends "user_dashboard/base_cms.html" %}

{% block content %}
    <div class="col-lg-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
        <div class="input-group" >
          <div >
              <select name="role" class="form-control" id="id_tipe_filter" onchange="searching()" onkeypress="this.onchange()" onclick="this.onchange()"  >
                <option value="nama">Nama Pasien</option>
                <option value="status">Role / Level Struktur</option>
                <option value="posisi">Posisi Pekerjaan</option>
              </select>
          </div>
            <input type="text" class="form-control" placeholder="Search" aria-label="Username" aria-describedby="basic-addon1" onchange="searching();" onkeyup="this.onchange();" onpaste="this.onchange();" oninput="this.onchange();" id="id_keywords" value="">
          <div >
              <button type="button" class="btn social-btn btn-social-outline-twitter"><i id="totalnya"></i></button>
          </div>
          </div>
          <div class="table-responsive">
            <table class="table table-striped" id="table_emp">
              <thead>
                <tr style="text-align:center;">
                  <th>
                    Perusahaan
                  </th>
                  <th>
                    Dashboard ID
                  </th>
                  <th>
                    Alamat
                  </th>
                  <th>
                    Jenis Usaha
                  </th>
                  <th>
                    Pulau
                  </th>
                  <th>
                    Provinsi
                  </th>
                  <th>
                    Kota
                  </th>
                  <th>
                    Email
                  </th>
                  <th>
                    PIC
                  </th>
                  <th>
                    Rating
                  </th>
                  <th>
                    Pulau
                  </th>
                  <th>
                    Penerapan Sistem
                  </th>
                  <th>
                    Status
                  </th>
                  <th>
                    Created at
                  </th>
                  <th>
                    Updated at
                  </th>
                  <th>
                    UPDATE
                  </th>
                  <th>
                    REMOVE
                  </th>
                </tr>
              </thead>
            </table>
                <h3 id="coba"></h3>
          </div>
        </div>
      </div>
    </div>
    <ul class="uk-pagination" id="ukauka" ></ul>

{% endblock %}
{% block scripts %}
<script src="https://code.jquery.com/jquery-3.1.0.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.27.2/js/uikit.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.27.2/js/components/pagination.js"></script>
<script type="text/javascript">
function mypagination(){
  // var num;
    // $.getJSON('result-page/', function (json) {
    //     $.each (json.page_lists, function (i) {
    //       console.log(json.page_lists[i].total_data);
    // console.log("sortir: " + sortpage);
    $.getJSON('result-page-emp/', function (json) {
        for (let i = 0; i < 1; i++) {
            // console.log(json.page_lists[i].total_data);
            // var sortlah = $('#id_pagin').val();
            // console.log(bla);
            var element = document.querySelector('.uk-pagination');
            var pagination = UIkit.pagination(element, {
                              items:json.page_lists_emp[i].total_data,
                              itemsOnPage:10
                 });
            // console.log(pagination);
          }
    });
          $('#ukauka').on('select.uk.pagination', function(e, pageIndex){
              // console.log('You have selected page: ' + (pageIndex+1));
            num = pageIndex+1;
            searching(num)
          });
    //   });
    // });

}

function  searching(num){
    var tipe_filter = $('#id_tipe_filter').val();
    var sortpage = 10;
    if (num == null || num == "" || num == "undefined" ){
      var page = 1;
    } else {
      var page =  num;
    }
    console.log("halaman dipilih : " + page);

    if ($('#id_keywords').val() == null || $('#id_keywords').val() == ""){
      var keywords = "all";
    } else {
      var keywords = $('#id_keywords').val();
    }
    console.log("cari kata " + keywords);

    $.getJSON('result-employee/' + sortpage + '/' + page + '/' + tipe_filter + '/' + keywords, function (json) {
      var tr;
      list = "";

      // $.each (json.comp_lists, function (i) {

      //     list +=  "<p style='font-weight:bold;'>" + json.comp_lists[i].company_name + "</p>";
      //     });
      // $('#coba').html(list);

      $('#table_emp').empty();
      $('#table_emp').append("<tr style='text-align:center;'><th>Nama Pasien</th><th>Posisi</th><th>Email</th><th>Status</th><th>Created at</th><th>Updated at</th><th>UPDATE</th><th>REMOVE</th></tr>");
      for (var i = 0; i < json.emp_lists.length; i++) {
          tr = $('<tr/>');
          tr.append("<td style='font-weight:bold;'>" + json.emp_lists[i].full_name + "</td>");
          tr.append("<td style='color:blue;'>" + json.emp_lists[i].status + "</td>");
          tr.append("<td>" + json.emp_lists[i].email + "</td>");
          tr.append("<td style='color:green;'>" + json.emp_lists[i].akun + "</td>");
          tr.append("<td style='color:red;'>" + json.emp_lists[i].created_at + "</td>");
          tr.append("<td style='color:red;'>" + json.emp_lists[i].updated_at + "</td>");
          // tr.append("<td ><button type='button' value='"+json.emp_lists[i].email+"' class='btn btn-primary btn-fw'>Update</button></td>");
          tr.append("<td ><a href='/detail-user/"+json.emp_lists[i].email+"'><button type='submit' value='"+json.emp_lists[i].email+"' class='btn btn-primary btn-fw'>Update</button></a></td>");
          tr.append("<td ><a href='/remove-employee/"+json.emp_lists[i].email+"'><button type='submit' value='"+json.emp_lists[i].email+"' class='btn btn-danger btn-fw'>Remove</button></a></td>");
          $('#table_emp').append(tr);

          pagenya = json.emp_lists[i].total_data;
          hasil_akhir = json.emp_lists[i].hasil_akhir;
      }
       $('#totalnya').html("Total data : " + hasil_akhir + " / " + pagenya);
    }
    );
}

$(document).ready(function(){
  mypagination()
  searching()
});
</script>
{% endblock %}